.FilterSearchBtn{
    margin-bottom:10px;
    padding:5px 8px;
    background:#4285F4;
    color:white;
    border-radius:8px;
    width:80px;
    text-align:center;
    cursor: pointer;
}

.FilterSearchBtn:active{
    background:#377ae7;
}

/* .filtertablecardcontainer{
    display: block;
}

.filtertablecardcontainerdisplaynone{
    display: none;
    transition: 0.5s linear;
} */

.filterOptionHeaderName{
    margin-bottom: 10px;
}

/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */